html,body{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}
.pimg1{
    background-image: url(img_1.png);
    min-height: 100%;
    }
.pimg2{
    background-image: url(img_2.png);
    min-height: 400px;
    }
.pimg3{
    background-image: url(img_3.png);
    min-height: 400px;
    }
.pimg1,.pimg2,.pimg3{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 27px ;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.textbg{
    background: #313534;
    color: white;
}
.section{
    padding: 50px 80px;
    text-align: center;
}
.section-light{
    background-color: white;
    color: grey;
}
.section-dark{
    background-color: black;
}