@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #ffd4c1;
}

* {
    font-family: 'Outfit', sans-serif;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 740px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #6fd1c0;
    box-sizing: border-box;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20 px;
    left: 0;
    color: black;
    font-size: 12px;
}

.forgot__pass {
    font-size: 12px;
    color: #5b6b8b;
    float: right;
}

.btn__submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
}

.btn__submit:hover {
    background: black;
    color: #ffd4c1;
    border-radius: 5px;
}

.btn__submit span {
    position: absolute;
    display: block;
}

.btn__submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,black);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn__submit span:nth-child(2) {
    top: -100;
    right: 0;
    width: 2px;
    height: 100%;    
    background: linear-gradient(180deg, transparent,black);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn__submit span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;    
    background: linear-gradient(270deg, transparent,black);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn__submit span:nth-child(4) {
    bottom: -100;
    left: 0;
    width: 2px;
    height: 100%;    
    background: linear-gradient(360deg, transparent,black);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}