.body {
    background-color: #E3FCBF;
    margin: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #B8F1B0;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
}

.name {
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 0;
    font-size: 100px;
    color: #14C38E;
    font-family: 'Sacramento', cursive;
    margin-bottom: 0;
}

.para {
    margin-top: 0;
    color: #14C38E;
    font-family: 'Merriweather', serif;
    font-size: 45px;
}   

.top_cloud {
    position: relative;
    left: 60%;
    bottom: 100%;
    height: 31%;
    width: 22%;
    filter: brightness(80%);
}

.bottom_cloud {
    position: relative;
    right: 30%;
    bottom: 40%;
    filter: brightness(85%);
}

.third_cloud {
    height: 43%;
    position: relative;
    right: 60%;
    bottom: 70%;
    filter: brightness(75%);
}

.bird {
    height: 43%;
    position: relative;
    left: 45%;
    bottom: 35%;
}

.me {
    border-radius: 100%;
}

.middle-container {
    display: flex;
    flex-direction: row;
    gap:20px;
    background-color: bisque;
    padding: 100px 50px 100px 50px;
    border-radius: 200px;
    border-style: outset;
    margin-bottom: 50px;
}

.skills {
    margin-top: 0;
    text-align: center;
    font-family: cursive;
    color: rgb(197, 197, 15);
    font-size: 55px;
}

.skill1 {
    text-align: center;
    text-decoration: underline;
    font-family: 'Merriweather', serif;
    color: rgb(158, 158, 39);
    font-size: 30px;
}

.vdo_game {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.computer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.vdo_game_text {
    text-align: center;
    font-family: cursive;
    color: rgb(64, 64, 3);
    font-size: 20px;
}

.wrapper_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connect {
    display: block;
    border-radius: 20%;
    height: 200px;
    width: 200px;
    margin-left: 60px;
    margin-right: 60px;
}

.contact_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact_icons :hover {
    background-color: rgb(92, 171, 58);
}

.profile {
    background-color: #B8F1B0;
    padding-top: 70px;
    padding-bottom: 20px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
}